<body class="d-flex h-100 text-left text-black bg-light">
  <main class="cover-container d-flex w-40 h-10 p-3 mx-auto flex-column">


<%= form_with model: @customer, url: update_customer_path, method: :patch, local: true do |f| %>

<div class="container">
  <div class="row gx-5">
    <div class="row row-cols-3 mb-3 p">

    <div class="col mb-2"><h4 class = "mark">会員情報編集</h4></div>
    <div class="col mb-2"></div>
    <div class="col mb-2"></div>




    <div class="col mb-2"><%= f.label :名前 %></div>
    <div class="col mb-2">姓<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></div>
    <div class="col mb-2">名<%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></div>



    <div class="col mb-2"><%= f.label :フリガナ %></div>
    <div class="col mb-2">セイ<%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %></div>
    <div class="col mb-2">メイ<%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></div>

    <div class="col mb-2"><%= f.label :メールアドレス %></div>
    <div class="col mb-2"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
    <div class="col mb-2"></div>


    <div class="col mb-2"><%= f.label :郵便番号（ハイフンなし） %></div>
    <div class="col mb-2"><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></div>
    <div class="col mb-2"></div>

    <div class="col mb-2"><%= f.label :住所 %></div>
    <div class="col mb-2"><%= f.text_field :address, autofocus: true, autocomplete: "address", :size=>"60" %></div>
    <div class="col mb-2"></div>


    <div class="col mb-2"><%= f.label :電話番号（ハイフンなし） %></div>
    <div class="col mb-2"><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></div>
    <div class="col mb-2"></div>


    <div class="col mb-2"><%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br /></div>
    <div class="col mb-2"><%= f.password_field :password, autocomplete: "new-password" %></div>
    <div class="col mb-2"></div>


    <div class="col mb-2"><%= f.label :パスワード（確認用） %></div>
    <div class="col mb-2"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
    <div class="col mb-2"></div>

    <div class="col mb-2"></div>
    <div class="col mb-2"><%= f.submit "編集内容を保存",class:"btn btn-outline-success mt-2" %></div>
    <div class="col mb-2"><a class="btn btn-outline-danger mt-2" href="/customers/unsubscribe" role="button">退会する</a></div>
  </div>
  </div>
<% end %>






  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>



  </body>
</html>

