<body class="d-flex h-100 text-left text-black bg-light">
  <!--<main class="cover-container d-flex w-40 h-10 p-3 mx-10 flex-column">-->
<main class="px-3">

  <h5 class="mark">マイページ</h5>

  <a>登録情報</a> <a class="btn btn-outline-success m-5" href="/customers/information/edit" role="button">編集する</a>
  <table class="table table-striped table-hover w-50">
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.phone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>

</table>

<a>配送先</a> <button type="button" class="btn btn-outline-primary m-5" href="/addresses">一覧を見る</button>
<a>注文履歴</a><a class="btn btn-outline-primary m-5" href="/orders" role="button">一覧を見る</a></button>

  </main>


</div>



  </body>
</html>

