<body class="d-flex h-100 text-left text-black bg-light">
  <main class="px-3">


  <h4 class="mark">商品新規登録</h4>

  <%= form_with model: @item, url: admin_items_path do |f| %>
  <div class="container w-25 mt-5">
  <div class="row row-cols-2 mb-2">
  <div class="col">商品画像</div>
  <div class="col"><%= f.file_field :image, accept: "image/*" %></div>
  </div>
  <div class="row row-cols-2 mb-2">
  <div class="col">商品名</div>
  <div class="col"><%= f.text_field :name %></div>
  </div>
  <div class="row row-cols-2 mb-2">
  <div class="col">商品説明</div>
  <div class="col"><%= f.text_area :introduction %></div>
  </div>
  <div class="row row-cols-2 mb-2">
  <div class="col">ジャンル</div>
  <div class="col"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %></div>
  </div>
  <div class="row row-cols-2 mb-2">
  <div class="col">税抜価格</div>
  <div class="col"><%= f.text_field :price %></div>
  </div>
  <div class="row row-cols-2 mb-2">
  <div class="col"><%= f.label :販売ステータス %></div>
  <div class="col">
  <%= f.radio_button :is_active, true,checked: true %>
  <%= f.label :is_active, "販売中" %></br>
  <%= f.radio_button :is_active, false %>
  <%= f.label :is_active, "販売停止中" %></div>
  </div>
  </div>
  <th>
  <%= f.submit '新規登録' %></th>
  <% end %>


  </main>

  <!--<footer class="mt-auto text-white-50">-->
  <!--  <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>-->
  <!--</footer>-->
</div>



  </body>
</html>









