<main class="cover-container d-flex w-40 h-10 p-3 mx-auto flex-column">
 <div class="col">
  <h4 class="mark">ショッピングカート</h4>


<table class="table">

    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th></th>
      <th></th>
      <th>小計</th>

    </tr>
    <div class = "destroy"><%= link_to "カートを空にする",cart_items_destroy_all_path ,method: :delete, "data-confirm" => "本当に空にしますか？",class: "btn btn-outline-danger" %></div>
<% @cart_items.each do |cart_item| %>
<tr>
      <td><%= image_tag cart_item.item.image, size: "100x100" %><%= cart_item.item.name %></td>
      <td>￥<%= (cart_item.item.price*1.10).round %></td>
      <%= form_for(cart_item) do |f| %>
      <td><%= f.number_field :amount, min:1, max:10000, step:1 %></td>
      <td></td>

      <td><%= f.submit "変更", class: "btn btn-outline-success" %></td>
      <td>￥<%= (cart_item.item.price*cart_item.amount*1.10).round %></td>
      <% end %>

      <td><%= link_to "削除", public_cart_item_path(cart_item.id),method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-outline-danger" %></td>
</tr>
<!--cart_item_path(cart_item.id)-->
<% end %>

      </td>
</div>
</table>

<div class= "row">
  <div class="offset-1 col-4">
  <%= link_to "買い物を続ける",'/',class: "btn btn-outline-primary" %></div>
</div>

<div class= "row">
  <div class="offset-9">
  <td>合計金額</td>
  <th>￥<%= (@total_price).round %></th></div>
</div>

<div class= "row">
  <div class="offset-6 mt-3">
  <% if @cart_items == nil %>
  <%= link_to "情報入力に進む",'/cart_items',class: "btn btn-outline-success" %></div>
  <% else %>
  <%= link_to "情報入力に進む",'/orders/new',class: "btn btn-outline-success" %></div>
  <% end %>
  <!--<%= link_to "情報入力に進む",'/orders/new',class: "btn btn-outline-success" %></div>-->
</div>
<!--<footer class="mt-auto text-white-50">-->
<!--    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>-->
<!--  </footer>-->


  </main>






  </body>
</html>

