<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f1fbe89ccf.js" crossorigin="anonymous"></script>


<html lang="ja" class="h-50">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.83.1">
    <title>Cover Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.jp/docs/5.0/examples/cover/">



    <!-- Bootstrap core CSS -->
<link href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-black bg-light">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>


      <nav class="nav nav-masthead justify-content-center float-md-end">
        <!--<a class="nav-link active" aria-current="page" href="#">Home</a>-->
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/items">商品一覧</a>
        <a class="nav-link" href="customers/sign_up">新規登録</a>
        <% if customer_signed_in? %>
        <a class="nav-link px-2" href="/customers/sign_out">ログアウト</a>
        <% else %>
        <a class="nav-link" href="/customers/sign_in">ログイン</a>
        <% end %>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <li class="nav-item">
          <%= link_to '/cart_items', class: "no-underline" do %>
          <h4><i class="fa-solid fa-cart-shopping"></i></h4>
          <% end %>
      </nav>
    </div>
  </header>



<main class="px-3">

<div class="col-md-2 offset-md-1">
<table class="table">
<h4>ジャンル一覧</h4>
<% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
    </tr>
<% end %>
</tbody>
</table>
</div>

<h3>商品一覧</h3><h5>(全<%= @items.count %>件)</h5>
<div class="album py-5 bg-light">

    <div class="container w-75">
<div class="row row-cols-4">
<% @items.each do |item| %>
<div class="col">
    <div class="card shadow-sm">
     <%= image_tag item.image, width: "100%", height: "150" %>
      <div class="card-body"><%= link_to item.name, "/items/#{item.id}" %>
      <p class="card-text">￥<%= item.price %>
      </div>
    </div>
</div>
<% end %>
 </div>
    </div>
<%= paginate @items %>
</div>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>



  </body>
</html>
















