<body class="d-flex h-100 text-left text-black bg-light">
<main class="px-3">

<div class="col-md-2 offset-md-1">
<table class="table">
<h4>ジャンル一覧</h4>
<% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
    </tr>
<% end %>
</tbody>
</table>
</div>

<h3 style = "text-align:center;">商品一覧</h3><h5 style = "text-align:center;">(全<%= @items.count %>件)</h5>
<div class="album py-5 bg-light">

    <div class="container w-75">
<div class="row row-cols-4">
<% @items.each do |item| %>
<div class="col">
    <div class="card shadow-sm">
     <%= image_tag item.image, width: "100%", height: "150" %>
      <div class="card-body"><%= link_to item.name, "/items/#{item.id}" %>
      <p class="card-text">￥<%= item.price %>
      </div>
    </div>
</div>
<% end %>
 </div>
    </div>
<%= paginate @items %>
</div>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>



  </body>
</html>
















